@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.btn-primary {
  background: linear-gradient(
    to bottom,
    rgba(79, 57, 246, 1) 0%,
    rgba(149, 20, 250, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 10000px;
}

.btn-primary:hover {
  background: white;
  background-image: linear-gradient(
    to bottom,
    rgba(79, 57, 246, 1) 0%,
    rgba(149, 20, 250, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-primary {
  background-image: linear-gradient(
    to bottom,
    rgba(79, 57, 246, 1) 0%,
    rgba(149, 20, 250, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-secondary {
  border: 1px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #4f39f6, #9514fa) border-box;
  border-radius: 9999px;
  box-shadow: none;
}
